<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/style/main.css' %}">
    <title>{% block title %}{% endblock %}</title>
     <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/eye-alt.css' rel='stylesheet'>
    <!— Yandex.Metrika counter —>
        <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js";, "ym");

        ym(97158230, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
        });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/97158230"; style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!— /Yandex.Metrika counter —>
    {% block script %}{% endblock %}
</head>

<body>
      <header class="header">
          <a href="{% url 'home' %}" class="main-logo"><img src="{% static 'main/img/main_logo.png' %}" alt="" class="main-logo-sw" /></a>

          {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'statistics' %}" class="nav-button manage">Менеджмент</a>
    {% endif %}
         <a href="{% url 'catalog' %}" class="nav-button">Каталог</a>
         <a href="{% url 'constructor' %}" class="nav-button">Создать</a>
         <a href="{% url 'cart' %}" class="nav-button">Корзина</a>
          <a href="{% url 'account' %}" class="logo"><box-icon name='user-circle' type='solid' color='#fff8e3' alt=""  class="logo-icon"></box-icon></a>
      </header>


    <div  class="content">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">

        <div class="container-footer">
            <a href="{% url 'home' %}" class="main-logo"><img src="{% static 'main/img/main_logo.png' %}" alt="" class="main-logo-sw" /></a>
            <div class="name">
                SWEET CREATIONS
            </div>

        </div>

        <div class="container-footer">
            <box-icon name='map' color='#e6a4b4' class="logo-icon"></box-icon>
            <a> ул. Театральная, 24
                 </a>
        </div>

        <div class="container-footer">
            <box-icon name='phone-call' color='#e6a4b4' class="logo-icon"></box-icon>
            <a href="tel:+79802447155">
                +79802447155 </a>
        </div>

         <div class="container-footer">
            <box-icon name='envelope' color='#e6a4b4' class="logo-icon"></box-icon>
            <a href="mailto:sweetcr3ations@yandex.ru"> sweetcr3ations@yandex.ru </a>
         </div>

    </footer>

    {% block extra_script %}{% endblock %}
</body>
</html>
