<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/style/main.css' %}">
    <title>{% block title %}{% endblock %}</title>
     <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/eye-alt.css' rel='stylesheet'>
    {% block script %}{% endblock %}
</head>

<body>
      <header class="header">
          <a href="{% url 'home' %}" class="main-logo"><img src="{% static 'main/img/main_logo.png' %}" alt="" class="main-logo-sw" /></a>

          {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'statistics' %}" class="nav-button manage">Менеджмент</a>
    {% endif %}
         <a href="{% url 'catalog' %}" class="nav-button">Каталог</a>
         <a href="{% url 'constructor' %}" class="nav-button">Создать</a>
         <a href="{% url 'cart' %}" class="nav-button">Корзина</a>
          <a href="{% url 'account' %}" class="logo"><box-icon name='user-circle' type='solid' color='#fff8e3' alt=""  class="logo-icon"></box-icon></a>
      </header>


    <div  class="content">
        {% block content %}{% endblock %}
    </div>

<footer class="footer"> contacts </footer>

    {% block extra_script %}{% endblock %}
</body>
</html>
