{% extends 'main/base.html' %}

{% block title %}sweet creations{% endblock %}

{% block content %}
<section class="main-content">
      <h1 class="cake-name">&lt;cake_name&gt;</h1>

      <article class="cake-details">
        <div class="cake-info">
          <div class="cake-description">
            <div class="cake-detail">
              <div class="cake-detail-divider"></div>
              <div class="cake-detail-divider"></div>
              <div class="cake-detail-divider"></div>
            </div>
          </div>


              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/f22c47be750f1475f3b01a0f16b9aaf331445f00bd281e60a98aef2aa9299828?apiKey=b4045879ceea4014969d7d61d55a1155&" alt="Cake" class="cake-image" loading="lazy" />

        </div>
      </article>
    </section>
{% endblock %}
