{% extends 'main/base.html' %}
{% load static %}

{% block title %}sweet creations{% endblock %}

{% block content %}
<section class="main-content">
    <h1 class="cake-name">{{ cake.name }}</h1>

    <article class="cake-details">
        <div class="cake-info">
          <div class="cake-description">
            <div class="cake-detail">
                <ul class="no-bullets">
                    <li>Вес:<div class="description-text"> {{ cake.weight }} г</div></li>
                    <li>Количество слоев:<div class="description-text"> {{ cake.layers_count }}</div></li>
                    {% if cake.text %}
                        <li>Дополнительная информация: {{ cake.text }}</li>
                    {% endif %}
                    <li>Размер:<div class="description-text"> {{ cake.cake_size.type }}</div></li>
                    <li>Форма:<div class="description-text"> {{ cake.cake_shape.shape }}</div></li>
                    <li>Покрытие:<div class="description-text"> {{ cake.cake_coverage.ingridient }}</div></li>
                    <li>Топпинг:<div class="description-text"> {{ cake.cake_topping.ingridient }}</div></li>
                    <li>Дополнения:<div class="description-text"> {{ cake.cake_addition.ingridient }}</div></li>
                </ul>
                <h2 class="cake-description-cost">{{ cake.cost }} ₽</h2>

            </div>
          </div>
          <div class="cake-description-right">
              <img src="{% static cake.preview_image %}" alt="Cake" class="cake-image" loading="lazy" />
                <a href="{% url 'add_to_cart' cake.pk %}" class="to-cart-button">В корзину</a>
          </div>
        </div>
      </article>
    </section>
{% endblock %}
