{% extends 'main/base.html' %}
{% load static %}

{% block title %}sweet creations{% endblock %}

{% block content %}
<section class="cart-section">
    <h1 class="cart-title">Корзина</h1>

    <div class="cart-summary">
        <div class="cart-summary-row">
            <div class="cart-item-count">
                <p class="cart-item-count-text">{{ total_items }} товаров</p>
            </div>
            <div class="cart-total">
                <div class="cart-total-row">
                    <div class="cart-total-label">Итого: {{ total_cost }} ₽</div>
                    <a href="{% url 'order_form' %}"><button class="cart-checkout-button">Оформить</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="cart-items">
        {% for item in cart_items %}
        <div class="cart-item">
            <div class="cart-item-row">
                <img src="{% static item.cake.preview_image %}" alt="{{ item.cake.name }}" />

                    <div class="cart-item-text-container">
                        <h2 class="cart-item-name">{{ item.cake.name }}</h2>
                        <p class="cart-item-price">{{ item.cake.cost }} ₽</p>
                        <p class="cart-item-price">{{ item.cake.weight }} г</p>
                    </div>

                <div class="cart-item-actions-row">
                    <article class="cart-item-quantity-row">
                        <a href="{% url 'remove_from_cart' item.cake.pk %}?action=decrease" class="quantity-icon"><box-icon name='minus' color='#fff8e3'></box-icon></a>
                        <div class="cart-product-number">{{ item.quantity }}</div>
                        <a href="{% url 'add_to_cart' item.cake.pk %}" class="quantity-icon"><box-icon name='plus' color='#fff8e3'></box-icon></a>
                    </article>
                </div>
                <article class="cart-item-delete-btn">
                    <a href="{% url 'remove_from_cart' item.cake.pk %}?action=remove" class="logo-icon"><box-icon type='solid' name='trash' color='#fff8e3' class="logo-icon"></box-icon></a>
                </article>
            </div>
        </div>
        {% empty %}
        <p class="cart-empty">Ваша корзина пуста</p>
        {% endfor %}
    </div>
</section>
{% endblock %}