{% extends 'main/base.html' %}
{% load static %}

{% block title %}sweet creations{% endblock %}

{% block content %}
  <section class="catalog-container">
      <h1 class="catalog-title">Каталог</h1>


      <div class="filters">

    <div class="parameters">
        <h2 class="filter-title">Параметры</h2>
        <div class="filter-parameters-row">
        <div class="filter-parameters-column">
            <div class="size">
            <div class="filter-options">
                <select name="size">
                    <option value="" disabled selected>Выбирите размер...</option>
                    <option value="fondant">Маленький</option>
                    <option value="buttercream">Средний</option>
                    <option value="ganache">Большой</option>
                </select>
            </div>
        </div>
            <div class="shape">
            <div class="filter-options">
                <select name="shape">
                    <option value="" disabled selected>Выбирите форму...</option>
                    <option value="fondant">Круглый</option>
                    <option value="buttercream">Квадратный</option>
                    <option value="ganache">Прямоугольный</option>
                </select>
            </div>
        </div>
        </div>
                    <div class="filter-parameters-column">

        <div class="topping">
            <div class="filter-options">
                <select name="topping">
                    <option value="" disabled selected>Выберите топпинг...</option>
                    <option value="chocolate">Шоколад</option>
                    <option value="berries">Карамель</option>
                    <option value="caramel">Белый шоколад</option>
                    <option value="nuts">Кленовый сироп</option>
                </select>
            </div>
        </div>

        <div class="coverage">
            <div class="filter-options">
                <select name="coverage">
                    <option value="" disabled selected>Выберите покрытие...</option>
                    <option value="fondant">Шоколадный крем</option>
                    <option value="buttercream">Белый крем</option>
                    <option value="ganache">Ганаш</option>
                    <option value="creamcheese">Крем чиз</option>
                </select>
            </div>
        </div>
        </div>
        </div>
        </div>


          <div class="additions">
            <h3 class="filter-title">Дополнительно</h3>
            <div class="filter-options-additions">
                <input type="checkbox" id="sprinkles" name="additions" value="sprinkles">
                <label for="sprinkles">Фисташки</label>
                <input type="checkbox" id="candies" name="additions" value="candies">
                <label for="candies">Орехи</label>
                <input type="checkbox" id="fruit" name="additions" value="fruit">
                <label for="fruit">Ягоды</label>
                <input type="checkbox" id="cookies" name="additions" value="cookies">
                <label for="cookies">Маршмеллоу</label>
            </div>

    </div>
    <div class="layers">
        <h2 class="filter-title">Слои</h2>
        <div class="layer-count">
            <div class="select-layers-container">
                <select id="layer-count" name="layer_count" class="select-layers">
                    <option value="" disabled selected hidden>Количество...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
        </div>
        <div class="layer-options">
            <!-- Layer options will be added dynamically based on layer count -->
        </div>
    </div>
</div>

    <div class="catalog-product-grid">
        {% for row in rows %}
        <div class="catalog-product-row">
            {% for cake in row %}
            <a href="{% url 'cake_info' cake.pk %}" class="product-link">
                <article class="product-card">
                    <img src="{% static cake.preview_image %}" alt="" class="product-preview" />
                    <div class="product-info">
                        <div class="product-meta">
                            <div class="product-name">{{ cake.name }}</div>
                            <div class="product-price">{{ cake.cost }} ₽</div>
                            <div class="product-weight">{{ cake.weight }} г</div>
                        </div>
                        <a href="{% url 'add_to_cart' cake.pk %}" class="product-icon">
                            <box-icon name='basket' type='solid' color='#e6a4b4' class="cart-icon"></box-icon>
                        </a>
                    </div>
                </article>
            </a>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>

<section class="catalog-pagination-container">
    <div class="catalog-pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        {% else %}
            <span>&laquo;</span>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <span>{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        {% else %}
            <span>&raquo;</span>
        {% endif %}
    </div>
</section>
{% endblock %}
