{% extends 'main/base.html' %}

{% block title %}sweet creations{% endblock %}

{% block content %}
  <section class="catalog-container">
      <h1 class="catalog-title">Каталог</h1>
      <div class="filters">&lt;фильтры&gt;</div>

      <div class="catalog-product-grid">
        <div class="catalog-product-row">
          <a href="{% url 'cake_info' %}" class="product-link">

          <article class="product-card">
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/41b8fc84ead207bafc110bd3fb84f6695fdc636143f0116d1476aff0a986cff9?apiKey=b4045879ceea4014969d7d61d55a1155&" alt="" class="product-preview" />
              <div class="product-info">
                <div class="product-meta">
                    <div class="product-name">Розовый</div>
                  <div class="product-price">3200 ₽</div>
                  <div class="product-weight">540 г</div>
                </div>
                  <a href="{% url 'cake_info' %}" class="product-icon" ><box-icon name='basket' type='solid' color='#e6a4b4' class="cart-icon"></box-icon> </a>
              </div>
          </article>
         </a>
          <a href="{% url 'cake_info' %}" class="product-link">

          <article class="product-card">
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/41b8fc84ead207bafc110bd3fb84f6695fdc636143f0116d1476aff0a986cff9?apiKey=b4045879ceea4014969d7d61d55a1155&" alt="" class="product-preview" />
              <div class="product-info">
                <div class="product-meta">
                    <div class="product-name">Розовый</div>
                  <div class="product-price">3200 ₽</div>
                  <div class="product-weight">540 г</div>
                </div>
                  <a href="{% url 'cake_info' %}" class="product-icon" ><box-icon name='basket' type='solid' color='#e6a4b4' class="cart-icon"></box-icon> </a>
              </div>
          </article>
         </a>
            <a href="{% url 'cake_info' %}" class="product-link">

          <article class="product-card">
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/41b8fc84ead207bafc110bd3fb84f6695fdc636143f0116d1476aff0a986cff9?apiKey=b4045879ceea4014969d7d61d55a1155&" alt="" class="product-preview" />
              <div class="product-info">
                <div class="product-meta">
                    <div class="product-name">Розовый</div>
                  <div class="product-price">3200 ₽</div>
                  <div class="product-weight">540 г</div>
                </div>
                  <a href="{% url 'cake_info' %}" class="product-icon" ><box-icon name='basket' type='solid' color='#e6a4b4' class="cart-icon"></box-icon> </a>
              </div>
          </article>
         </a>
        </div>

        <div class="catalog-product-row">
          <a href="{% url 'cake_info' %}" class="product-link">

          <article class="product-card">
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/41b8fc84ead207bafc110bd3fb84f6695fdc636143f0116d1476aff0a986cff9?apiKey=b4045879ceea4014969d7d61d55a1155&" alt="" class="product-preview" />
              <div class="product-info">
                <div class="product-meta">
                    <div class="product-name">Розовый</div>
                  <div class="product-price">3200 ₽</div>
                  <div class="product-weight">540 г</div>
                </div>
                  <a href="{% url 'cake_info' %}" class="product-icon" ><box-icon name='basket' type='solid' color='#e6a4b4' class="cart-icon"></box-icon> </a>
              </div>
          </article>
         </a>
          <a href="{% url 'cake_info' %}" class="product-link">

          <article class="product-card">
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/41b8fc84ead207bafc110bd3fb84f6695fdc636143f0116d1476aff0a986cff9?apiKey=b4045879ceea4014969d7d61d55a1155&" alt="" class="product-preview" />
              <div class="product-info">
                <div class="product-meta">
                    <div class="product-name">Розовый</div>
                  <div class="product-price">3200 ₽</div>
                  <div class="product-weight">540 г</div>
                </div>
                  <a href="{% url 'cake_info' %}" class="product-icon" ><box-icon name='basket' type='solid' color='#e6a4b4' class="cart-icon"></box-icon> </a>
              </div>
          </article>
         </a>
            <a href="{% url 'cake_info' %}" class="product-link">

          <article class="product-card">
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/41b8fc84ead207bafc110bd3fb84f6695fdc636143f0116d1476aff0a986cff9?apiKey=b4045879ceea4014969d7d61d55a1155&" alt="" class="product-preview" />
              <div class="product-info">
                <div class="product-meta">
                    <div class="product-name">Розовый</div>
                  <div class="product-price">3200 ₽</div>
                  <div class="product-weight">540 г</div>
                </div>
                  <a href="{% url 'cake_info' %}" class="product-icon" ><box-icon name='basket' type='solid' color='#e6a4b4' class="cart-icon"></box-icon> </a>
              </div>
          </article>
         </a>
        </div>

        <div class="catalog-product-row">
          <a href="{% url 'cake_info' %}" class="product-link">

          <article class="product-card">
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/41b8fc84ead207bafc110bd3fb84f6695fdc636143f0116d1476aff0a986cff9?apiKey=b4045879ceea4014969d7d61d55a1155&" alt="" class="product-preview" />
              <div class="product-info">
                <div class="product-meta">
                    <div class="product-name">Розовый</div>
                  <div class="product-price">3200 ₽</div>
                  <div class="product-weight">540 г</div>
                </div>
                  <a href="{% url 'cake_info' %}" class="product-icon" ><box-icon name='basket' type='solid' color='#e6a4b4' class="cart-icon"></box-icon> </a>
              </div>
          </article>
         </a>
          <a href="{% url 'cake_info' %}" class="product-link">

          <article class="product-card">
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/41b8fc84ead207bafc110bd3fb84f6695fdc636143f0116d1476aff0a986cff9?apiKey=b4045879ceea4014969d7d61d55a1155&" alt="" class="product-preview" />
              <div class="product-info">
                <div class="product-meta">
                    <div class="product-name">Розовый</div>
                  <div class="product-price">3200 ₽</div>
                  <div class="product-weight">540 г</div>
                </div>
                  <a href="{% url 'cake_info' %}" class="product-icon" ><box-icon name='basket' type='solid' color='#e6a4b4' class="cart-icon"></box-icon> </a>
              </div>
          </article>
         </a>
            <a href="{% url 'cake_info' %}" class="product-link">

          <article class="product-card">
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/41b8fc84ead207bafc110bd3fb84f6695fdc636143f0116d1476aff0a986cff9?apiKey=b4045879ceea4014969d7d61d55a1155&" alt="" class="product-preview" />
              <div class="product-info">
                <div class="product-meta">
                    <div class="product-name">Розовый</div>
                  <div class="product-price">3200 ₽</div>
                  <div class="product-weight">540 г</div>
                </div>
                  <a href="{% url 'cake_info' %}" class="product-icon" ><box-icon name='basket' type='solid' color='#e6a4b4' class="cart-icon"></box-icon> </a>
              </div>
          </article>
         </a>
        </div>
        </div>
    </section>

    <section class="catalog-pagination-container">
    <div class="catalog-pagination">
  <span>&laquo;</span>
  <span>1</span>
  <span>2</span>
  <span>3</span>
  <span>4</span>
  <span>5</span>
  <span>&raquo;</span>
        </div>
        </section>
{% endblock %}
