{% extends 'main/base.html' %}
{% load static %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/vue@3.2.37/dist/vue.global.prod.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.27.2/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.137.5/build/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.137.5/examples/js/controls/OrbitControls.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.137.5/examples/js/controls/DragControls.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.137.5/examples/js/loaders/GLTFLoader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.137.5/examples/js/loaders/OBJLoader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.137.5/examples/js/loaders/TGALoader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.137.5/examples/js/loaders/FontLoader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.137.5/examples/js/geometries/TextGeometry.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
{% block title %}sweet creations{% endblock %}

{% block content %}
<script>
function range() {
    var val = $('#text-size').val();
    var perc = (val - 0.1) / (1.5 - 0.1) * 100;
    $('#text-size').css({
        'background': '-webkit-linear-gradient(left, #e6a4b4 0%, #e6a4b4 ' + perc + '%, #fff8e3 ' + perc + '%, #fff8e3 100%)'
    });
}
</script>
<div id="constructor" class="cake-builder">
    <form @submit.prevent="saveAsImage" class="left-panel constrct">
        <div id="controls">
            <div id="layer-controls"></div>
        </div>
    </form>

    <div class="visualization">
        <div id="threejs-container"></div>
    </div>

    <div class="right-panel">
        <div class="params">
            <div class="params-row">
                <div class="select-group constrct">
                    <select id="shape" v-model="currentShape" @change="updateShape">
                        <option disabled selected>Форма...</option>
                        <option v-for="shape in shapes" :key="shape.shape" :value="shape.shape">[[ shape.shape ]]</option>
                    </select>
                </div>

                <div class="select-group constrct">
                    <select id="size" v-model="currentSize" @change="updateSize">
                        <option disabled selected>Размер...</option>
                        <option v-for="size in sizes" :key="size.cake_size_id" :value="size.cake_size_id">
                            [[ size.type]] ([[ size.base_area ]] кв. см)
                        </option>
                    </select>
                </div>
            </div>

            <div class="params-row">
                <div class="select-group constrct">
                    <select id="topping" v-model="currentTopping" @change="updateTopping">
                        <option value="none" disabled selected>Топпинг...</option>
                        <option v-for="topping in toppings" :key="topping.ingridient" :value="topping.ingridient">[[ topping.ingridient ]]</option>
                    </select>
                </div>

                <div class="select-group constrct">
                    <select id="cover" v-model="currentCover" @change="updateCover">
                        <option value="none" disabled selected>Покрытие...</option>
                        <option v-for="cover in covers" :key="cover.ingridient" :value="cover.ingridient">[[ cover.ingridient ]]</option>
                    </select>
                </div>
            </div>

            <div class="params-row">
                <div class="select-group constrct">
                    <select id="center-decoration" v-model="currentCenterTrinket" @change="updateCenterTrinket">
                        <option value="none">В центре...</option>
                        <option v-for="decoration in centerDecorations" :key="decoration.ingridient" :value="decoration.ingridient">[[ decoration.ingridient ]]</option>
                    </select>
                </div>

                <div class="select-group constrct">
                    <select id="perimeter-decoration" v-model="currentPerimeterTrinket" @change="updatePerimeterTrinket">
                        <option value="none">По краю...</option>
                        <option v-for="decoration in perimeterDecorations" :key="decoration.ingridient" :value="decoration.ingridient">[[ decoration.ingridient ]]</option>
                    </select>
                </div>
            </div>
        </div>

        <hr width="100%" size="3" color="#e6a4b4">

        <div class="text-column constrct">
            <input type="text" id="text-input" v-model="textContent" placeholder="Ваш текст..." class="text-input">
            <div class="text-row">
                <input type="range" id="text-size" v-model="textSize" min="0.1" max="1.5" step="0.1" @input="updateTextSize" class="range" oninput="range()">
                <select id="font-select" v-model="currentFont" @change="updateFont">
                    <option value="Miama">Miama</option>
                    <option value="Per">Per</option>
                    <option value="Shlapak">Shlapak</option>
                </select>
            </div>
            <div class="text-row">
                <button class="add-text-button" @click="addText">Добавить</button>
                <button class="add-text-button" @click="removeText">Удалить</button>
                <input class="color-input" type="color" id="text-color" v-model="textColor" @input="updateTextColor">
            </div>
        </div>

        <div class="const-column">
            <div class="params-title img">Ваше изображение</div>
            <div class="file-input-container">
                <label class="add-img-button" for="image-upload">Загрузить</label>
                <input type="file" id="image-upload" @change="uploadImage" accept="image/*">
                <button class="add-img-button remove" @click="removeImage">Удалить</button>
            </div>
        </div>

        <hr width="100%" size="3" color="#e6a4b4">

        <div class="cake-info">
            <div class="params-title">О торте</div>
            <p>Масса (г): [[ cakeWeight ]]</p>
            <p>Цена (₽): [[ cakeCost ]]</p>
        </div>
        <button type="submit" class="save-button" @click="addToCart">В корзину</button>
    </div>
</div>
{% endblock %}

{% block extra_script %}
<script src="{% static 'main/js/constructor.js' %}"></script>
<script>
    $(document).ready(function() {
        $('footer').hide();
        $('.content').css('padding-bottom', '0');
    });
</script>
{% endblock %}