{% extends 'main/base.html' %}

{% block title %}sweet creations{% endblock %}

{% block content %}
<h2 class="section-title">Выбрали для вас</h2>

    <section class="product-grid">
        <div class="tape-arrow">
    <box-icon name='chevron-left' color='#e6a4b4' class="logo-icon"></box-icon>
        </div>
      <div class="product-row">
         <a href="{% url 'cake_info' %}" class="product-link">
    <article class="product-card">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/c756131a607220a5394b60a23c1f71bb5bc1d69abafd92035ad2e679a9513353?apiKey=b4045879ceea4014969d7d61d55a1155&" alt="" class="product-preview" />
        <div class="product-info">
            <div class="product-meta">
                    <div class="product-name">Шоколадный</div>
                  <div class="product-price">2400 ₽</div>
                  <div class="product-weight">480 г</div>
                </div>
            <a href="{% url 'cake_info' %}" class="product-icon">
                <box-icon name='basket' type='solid' color='#e6a4b4' class="logo-icon"></box-icon>
            </a>
        </div>
    </article>
</a>


         <a href="{% url 'cake_info' %}" class="product-link">

          <article class="product-card">
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/41b8fc84ead207bafc110bd3fb84f6695fdc636143f0116d1476aff0a986cff9?apiKey=b4045879ceea4014969d7d61d55a1155&" alt="" class="product-preview" />
              <div class="product-info">
                <div class="product-meta">
                    <div class="product-name">Розовый</div>
                  <div class="product-price">3200 ₽</div>
                  <div class="product-weight">540 г</div>
                </div>
                  <a href="{% url 'cake_info' %}" class="product-icon" ><box-icon name='basket' type='solid' color='#e6a4b4' class="logo-icon"></box-icon> </a>
              </div>
          </article>
         </a>

         <a href="{% url 'cake_info' %}" class="product-link">

          <article class="product-card">


                  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/c756131a607220a5394b60a23c1f71bb5bc1d69abafd92035ad2e679a9513353?apiKey=b4045879ceea4014969d7d61d55a1155&" alt="" class="product-preview" />
                  <div class="product-info">
                    <div class="product-meta">
                    <div class="product-name">Шоколадный</div>
                  <div class="product-price">2400 ₽</div>
                  <div class="product-weight">480 г</div>
                </div>
                  <a href="{% url 'cake_info' %}" class="product-icon" ><box-icon name='basket' type='solid' color='#e6a4b4' class="logo-icon"></box-icon> </a>
                  </div>


          </article>
         </a>
        </div>
    <div class="tape-arrow">
    <box-icon name='chevron-right' color='#e6a4b4' class="logo-icon"></box-icon>
        </div>
    </section>

    <section class="cta-section">

          <button class="cta-button">Создать</button>

          <button class="cta-button">Выбрать</button>

    </section>
{% endblock %}
