{% extends 'main/base.html' %}
{% load static %}

{% block title %}sweet creations{% endblock %}

{% block content %}
<div class="home-cake-container">
    <h2 class="section-title-slogan">СОЗДАЙТЕ СОБСТВЕННЫЙ ТОРТ</h2>
    <a href="{% url 'constructor' %}" class="cake-striped-button">Создать</a>

    <div class="home-cake-row">
        <img src="{% static 'main/img/home_cake22.png' %}" class="home-cake3"/>
        <img src="{% static 'main/img/home_cake1.png' %}" class="home-cake"/>
        <img src="{% static 'main/img/home_cake33.png' %}" class="home-cake2"/>
    </div>
</div>
<h2 class="section-title">Выбрали для вас</h2>

<section id="ad" class="product-grid">
    <a class="tape-arrow" @click="scrollLeft">
        <box-icon name='chevron-left' color='#e6a4b4' class="logo-icon"></box-icon>
    </a>
    <div class="product-row" ref="productRow">
        {% for cake in recommended_cakes %}
        <a href="{% url 'cake_info' cake.pk %}" class="product-link">
            <article class="product-card">
                <img src="{% static cake.preview_image %}" alt="" class="product-preview" />
                <div class="product-info">
                    <div class="product-meta">
                        <div class="product-name">{{ cake.name }}</div>
                        <div class="product-price">{{ cake.cost }} ₽</div>
                        <div class="product-weight">{{ cake.weight }} г</div>
                    </div>
                    <a href="{% url 'add_to_cart' cake.pk %}" class="product-icon">
                        <box-icon name='basket' type='solid' color='#e6a4b4' class="cart-icon"></box-icon>
                    </a>
                </div>
            </article>
        </a>
        {% endfor %}
    </div>
    <a class="tape-arrow" @click="scrollRight">
        <box-icon name='chevron-right' color='#e6a4b4' class="logo-icon"></box-icon>
    </a>
</section>

<section class="cta-section">
    <a href="{% url 'constructor' %}" class="cta-button">Создать</a>
    <a href="{% url 'catalog' %}" class="cta-button">Посмотреть все</a>
</section>
{% endblock %}
