{% extends 'main/base.html' %}
{% load static %}

{% block title %}sweet creations{% endblock %}

{% block content %}
<h2 class="section-title">Выбрали для вас</h2>

<section class="product-grid">
    <a class="tape-arrow" @click="scrollLeft">
        <box-icon name='chevron-left' color='#e6a4b4' class="logo-icon"></box-icon>
    </a>
    <div class="product-row" ref="productRow">
        <a href="{% url 'home' %}" class="product-link">
            <article class="product-card">
                <img src="{% static 'main/img/cakes/chocolade.jpg' %}" alt="" class="product-preview" />
                <div class="product-info">
                    <div class="product-meta">
                        <div class="product-name">Шоколадный</div>
                        <div class="product-price">2400 ₽</div>
                        <div class="product-weight">480 г</div>
                    </div>
                    <a href="{% url 'cart' %}" class="product-icon">
                        <box-icon name='basket' type='solid' color='#e6a4b4' class="cart-icon"></box-icon>
                    </a>
                </div>
            </article>
        </a>
        <a href="{% url 'home' %}" class="product-link">
            <article class="product-card">
                <img src="{% static 'main/img/cakes/pink.png' %}" alt="" class="product-preview" />
                <div class="product-info">
                    <div class="product-meta">
                        <div class="product-name">Розовый</div>
                        <div class="product-price">3200 ₽</div>
                        <div class="product-weight">540 г</div>
                    </div>
                    <a href="{% url 'cart' %}" class="product-icon">
                        <box-icon name='basket' type='solid' color='#e6a4b4' class="cart-icon"></box-icon>
                    </a>
                </div>
            </article>
        </a>
        <a href="{% url 'home' %}" class="product-link">
            <article class="product-card">
                <img src="{% static 'main/img/cakes/kream.jpg' %}" alt="" class="product-preview" />
                <div class="product-info">
                    <div class="product-meta">
                        <div class="product-name">Кремовый</div>
                        <div class="product-price">4100 ₽</div>
                        <div class="product-weight">600 г</div>
                    </div>
                    <a href="{% url 'cart' %}" class="product-icon">
                        <box-icon name='basket' type='solid' color='#e6a4b4' class="cart-icon"></box-icon>
                    </a>
                </div>
            </article>
        </a>
        <a href="{% url 'home' %}" class="product-link">
            <article class="product-card">
                <img src="{% static 'main/img/cakes/berries.jpg' %}" alt="" class="product-preview" />
                <div class="product-info">
                    <div class="product-meta">
                        <div class="product-name">Ягодный</div>
                        <div class="product-price">3700 ₽</div>
                        <div class="product-weight">570 г</div>
                    </div>
                    <a href="{% url 'cart' %}" class="product-icon">
                        <box-icon name='basket' type='solid' color='#e6a4b4' class="cart-icon"></box-icon>
                    </a>
                </div>
            </article>
        </a>
        <a href="{% url 'home' %}" class="product-link">
            <article class="product-card">
                <img src="{% static 'main/img/cakes/kids.jpg' %}" alt="" class="product-preview" />
                <div class="product-info">
                    <div class="product-meta">
                        <div class="product-name">Детский</div>
                        <div class="product-price">4800 ₽</div>
                        <div class="product-weight">750 г</div>
                    </div>
                    <a href="{% url 'cart' %}" class="product-icon">
                        <box-icon name='basket' type='solid' color='#e6a4b4' class="cart-icon"></box-icon>
                    </a>
                </div>
            </article>
        </a>
        <!-- Дополнительные карточки -->
    </div>
    <a class="tape-arrow" @click="scrollRight">
        <box-icon name='chevron-right' color='#e6a4b4' class="logo-icon"></box-icon>
    </a>
</section>

<section class="cta-section">
    <a href="{% url 'constructor' %}" class="cta-button">Создать</a>
    <a href="{% url 'catalog' %}" class="cta-button">Посмотреть все</a>
</section>
{% endblock %}

