{% extends 'main/base.html' %}

{% block title %}sweet creations{% endblock %}
{% load static %}

{% block content %}
   <h1 class="order-number">
        <span>Заказ №</span>
        <span>{{ order.pk }}</span>
      </h1>

    <div class="order-details ">

      <section class="order-structure">
        <header class="order-header">
          <h2 class="order-title">Состав</h2>
        </header>

        <div class="order-items">
          {% for item in order_contents %}
          <article class="order-item">
            <div class="item-details">
              <img src="{% static item.cake.preview_image %}" alt="{{ item.cake.name }}" class="item-image" />
              <div class="item-info">
                <h3 class="item-name">{{ item.cake.name }}</h3>
                <div class="item-price">{{ item.cake.cost }}</div>
              </div>
            </div>
            <div class="item-quantity">
              <div class="quantity-divider"></div>
              <div class="quantity-value">{{ item.quantity }} шт</div>
            </div>
          </article>
          {% endfor %}
        </div>
      </section>

      <aside class="order-summary">
        <h2 class="summary-title">Детали</h2>
        <div class="summary-details">
          <div class="summary-label">Дата оформления</div>
          <div class="summary-value">{{ order.date }}</div>
          <div class="summary-label summary-label-spacing">Дата получения</div>
          <div class="summary-value">{{ order.delivery_date }}</div>
          <div class="summary-label summary-label-spacing">Адрес доставки</div>
          <div class="summary-value">{{ order.delivery_address }}</div>
          <div class="summary-label summary-label-spacing">Статус</div>
          <div class="summary-value">{{ order.status }}</div>
        </div>
      </aside>
    </div>
{% endblock %}
