{% extends 'main/base.html' %}

{% block title %}sweet creations{% endblock %}

{% block content %}
<main class="recovery-container">
    <h1 class="recovery-title">Восстановить</h1>
    <p class="recovery-description">Получите код подтверждения на электронную почту</p>

    <form method="POST" action="">
        {% csrf_token %}
        <label for="email" class="visually-hidden">Адрес электронной почты...</label>
        <input type="email" id="email" name="email" class="email-input" placeholder="Адрес электронной почты..." aria-label="Адрес электронной почты..." required>
        <button type="submit" class="send-button">Отправить</button>
    </form>
</main>
{% endblock %}