    .cart-icon{
      border-radius: 10px;
      height: auto;
      width: 100%;
    }

    .cart-icon:hover{
      border-radius: 10px;
      background-color: #FFECD4;
    }

    .section-title {
      color: #e6a4b4;
      align-self: center;
      margin: 80px 0 0 0;
      font: 900 34px/42% Roboto Flex, sans-serif;
    }

    @media (max-width: 991px) {
      .section-title {
        font-size: 40px;
        margin: 40px 0 0 10px;
      }
    }

    .home-cake-container{
      margin-top: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 100%;
      height: auto;
      background: linear-gradient(to bottom, #fff8e3 40%, #fff8e3 40%, #FFECD4 40%, #FFECD4 100%);
      box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
      gap: 15px;
    }

    .home-scene-row{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      gap: 7%;
      box-sizing: border-box;
      margin-bottom: 30px;
    }

    .home-cake-row{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }

    .section-title-slogan{
      color: #e6a4b4;
      font: 900 45px/42% Roboto Flex, sans-serif;
    }


    .home-cake{
      max-width: 37%;
      height: auto;
      align-self: flex-end;
    }

    .home-cake2{
      max-width: 25%;
      height: auto;
      align-self: center;
    }
    .home-cake3{
      max-width: 25%;
      height: auto;
      align-self: flex-start;
    }


    .product-grid {
      background-color: #FFECD4;
      width: 100%;
      padding: 10px 13px;
      box-sizing: border-box;
      flex-direction: row;
      justify-content: space-between;
        display: flex;
        max-width: 100%;
        margin: 40px 0 0 0;
        height: 420px;
        align-items: center;

    }

    @media (max-width: 991px) {
      .product-grid {
        max-width: 100%;
      }
    }

    .product-row {
      gap: 20px;
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: 0;
      padding: 20px 0px;

    scroll-behavior: smooth;
    overflow-x:hidden;
    overflow-y: hidden;
    }

    @media (max-width: 991px) {
      .product-row {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
      }
    }

    .product-card {
      flex: 1;
    max-width: 450px;
    min-width: 290px;
    border-radius: 20px;
      background-color: #fff8e3;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-around;
      color: #e6a4b4;
      margin: 30px 10xp;
      padding: 9px;
      transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .product-card:hover{
      transform: scale(1.05);
    }

    @media (max-width: 991px) {
      .product-card {
        max-width: 100%;
        margin-top: 40px;
      }
    }

    .tape-arrow{
      aspect-ratio: 1;
      object-fit: contain;
      display: flex;
      justify-self: center;
      width: 90px;
      height: 90px;
    }

    .tape-arrow:hover{
      background-color: #fff8e3;
      border-radius: 20px;
    }

    .product-content {
      gap: 20px;
      display: flex;
    }

    @media (max-width: 991px) {
      .product-content {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
      }
    }

    .product-image-col {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 21%;
      margin-left: 0;
    }

    @media (max-width: 991px) {
      .product-image-col {
        width: 100%;
      }
    }

    .product-image {
      aspect-ratio: 1;
      object-fit: contain;
      width: 90px;
      align-self: stretch;
      margin: auto 0;
    }

    @media (max-width: 991px) {
      .product-image {
        margin-top: 40px;
      }
    }

    .product-details-col {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 79%;
      margin-left: 20px;
    }

    @media (max-width: 991px) {
      .product-details-col {
        width: 100%;
      }
    }


    @media (max-width: 991px) {
      .product-details {
        margin-top: 4px;
      }
    }

    .product-preview {
      border-radius: 20px;
      width: 100%;
      overflow: hidden;
      object-fit: cover;
      max-height: 220px;
    }

    .content{
        padding-bottom: 80px;
        display: flex;
        flex-direction: column;
    }

    .product-info {
      display: flex;
      margin: 11px 11px;
      gap: 20px;
      justify-content: space-between;
    }

    @media (max-width: 991px) {
      .product-info {
        padding-right: 20px;
      }
    }

    .product-link{
      text-decoration: none;
      color: #e6a4b4;
    }

    .product-meta {
      align-self: start;
      display: flex;
      flex-direction: column;
      text-decoration: none;

    }

    .product-price {
      font: 900 24px Roboto Flex, sans-serif;
      text-decoration: none;

    }

    .product-name {
      font: 500 20px Roboto Flex, sans-serif;
      text-decoration: none;

    }

    .product-weight {
      font: 500 18px Roboto Flex, sans-serif;
    }

    .product-icon {
      aspect-ratio: 1;
      object-fit: contain;
      display: flex;
    flex-direction: column;
    justify-content: end;
      width: 60px;
    }


    .empty-product {
      border-radius: 32px;
      background-blend-mode: soft-light;
      background-color: #fff8e3;
      width: 344px;
      height: 330px;
      aspect-ratio: 1;
      margin: 0 auto;
    }

    @media (max-width: 991px) {
      .empty-product {
        margin-top: 14px;
      }
    }

    .cta-section {
        flex-direction: row;
      justify-content: space-between;
        display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      margin-bottom: 50px;
      width: 100%;
      gap: 10%;
      box-sizing: border-box;
      padding: 0 10%;

    }

    @media (max-width: 991px) {
      .cta-section {
        max-width: 100%;
        margin-top: 40px;
      }
    }

    .cta-button {
      border-radius: 20px;
      display: flex;
      background-color: #e6a4b4;
      color: #fff8e3;
      font: 900 24px Roboto Flex, sans-serif;
      padding: 10px 20px;
      text-decoration: dashed;
      max-height: 40px;
      transition: transform 0.3s ease, background-color 0.3s ease;

    }

    .cta-button:hover{
      transform: scale(1.05);
    }



    .cake-striped-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: repeating-linear-gradient(
    to bottom,
    #fddba4,
    #fddba4 10px,
    #fac7d1 15px,
    #fac7d1 25px,
    #f37ca4 25px,
    #f37ca4 40px,
    #d07f95 40px,
    #d07f95 55px,
    #f4a0b1  55px,
    #f4a0b1  65px
  ); /* Полосатый фон */
  color: white;
  font: 900 34px 'Roboto Flex', sans-serif;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 10px;
  border-top: 7px  solid #aae3dc;
  border-right: 9px  solid #aae3dc;;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), /* Внешняя тень */
                  inset 0 2px 4px rgba(255, 255, 255, 0.2); /* Внутренняя тень */
  transition: transform 0.2s, background-color 0.2s;
  overflow: hidden;
}

.cake-striped-button::before {
  content: '';
  top: -10px;
  left: 50%;
  width: 100%;
  height: 20px;
  background: radial-gradient(circle, #f5e0dc 20%, transparent 20%), 
              radial-gradient(circle, #fac7d1 20%, transparent 20%), 
              radial-gradient(circle, #f4a0b1 20%, transparent 20%), 
              radial-gradient(circle, #d07f95 20%, transparent 20%), 
              radial-gradient(circle, #c68e94 20%, transparent 20%);
  background-size: 15px 15px;
  background-position: 0 0, 20px 0, 40px 0, 60px 0, 80px 0;
  transform: translateX(-50%);
}

.cake-striped-button:hover {
  transform: scale(1.05);
}

.cake-striped-button:active {
  transform: scale(1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}