@import url('order_details.css');
@import url('order_form.css');
@import url('login.css');
@import url('account.css');
@import url('home.css');
@import url('recovery.css');
@import url('register.css');
@import url('catalog.css');
@import url('cart.css');
@import url('cake_info.css');

:root {
  --hover-color: rgba(255, 255, 255, 0.4);; 
  --hover-color2: #f8e7e0;
}

body {
  /* background: rgb(243,215,202);
background: -moz-linear-gradient(119deg, rgba(243,215,202,1) 22%, rgba(255,248,227,1) 50%, rgba(243,215,202,1) 77%);
background: -webkit-linear-gradient(119deg, rgba(243,215,202,1) 22%, rgba(255,248,227,1) 50%, rgba(243,215,202,1) 77%);
background: linear-gradient(119deg, rgba(243,215,202,1) 22%, rgba(255,248,227,1) 50%, rgba(243,215,202,1) 77%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3d7ca",endColorstr="#f3d7ca",GradientType=1); */
        background-color: #fff8e3;
    /* height: 100vh;
    background-attachment: fixed; */
        
    }
    .container {
      background-color: #fff8e3;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
    .header {
      border-radius: 0 0 31px 31px;
      backdrop-filter: blur(2px);
      border: 1px solid rgba(0, 0, 0, 0.2);
      background-color: #f3d7ca;
      display: flex;
      gap: 20px;
      font-size: 35px;
      color: #e6a4b4;
      font-weight: 400;
      white-space: nowrap;
      padding: 0 0 0 0;
      justify-content: flex-end;
      max-height: 90px;
    }

    @media (max-width: 991px) {
      .header {
        flex-wrap: wrap;
        padding-left: 20px;
        white-space: initial;
      }
    }

    .nav-button {
      font-family: Roboto Flex, sans-serif;
      border-radius: 20px;
      display: flex;
      background-color: #fff8e3;
      justify-content: center;
      padding: 20px 30px 30px 30px;
      text-decoration: none;
      color: #e6a4b4;
      font-weight: 900;
    }

    .nav-button:hover {
      background-color: var(--hover-color);
     border-radius: 20px;
}

    @media (max-width: 991px) {
      .nav-item {
        white-space: initial;
        padding: 0 20px;
      }
    }

    .logo {
      aspect-ratio: 1;
      object-fit: contain;
      width: 90px;
      margin: auto 0;
      margin-right: 15px;
    }

    .main-logo{
      aspect-ratio: 1;
      object-fit: contain;
      width: 90px;
      margin-right: auto;
      margin-left: 3%;
    }

    .logo-icon{
      height: auto;
      width: 100%;
    }

    .main-logo-sw{
      height: 90%;
      width: auto;
      margin-top: 5px;
    }

    .footer {
      background-color: #f3d7ca;
      margin-top: auto;
      display: flex;
      width: 100%;
      max-width: 100%;
      align-items: center;
      color: #e6a4b4;
      white-space: nowrap;
      justify-content: center;
      overflow-x: hidden;
      padding: 52px 60px;
      font: 400 64px/42% Roboto Flex, sans-serif;
      box-sizing: border-box;
      bottom: 0;
      left: 0;
    }

    @media (max-width: 991px) {
      .footer {
        font-size: 40px;
        max-width: 100%;
        margin-top: 40px;
        white-space: initial;
        padding: 0 20px;
      }
    }

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f3d7ca; 

}

::-webkit-scrollbar-thumb {
  background: #e6a4b4; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color2); 
  border-radius: 10px;
}