.manage-title {
    color: #e6a4b4;
    font: 900 34px/42% Roboto Flex, sans-serif;
    margin-top: 80px;
    margin-bottom: 10px;
    margin-left: 4%;
  }

  .manage-title2{
    color: #e6a4b4;
    font: 900 24px/42% Roboto Flex, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 4%;
  }

  .table-container {
    background-color: #FFECD4;
    border-radius: 20px;
    width: 90%;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-self: center;
    align-self: center;
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  .manage-table {
    color: #e6a4b4;
    font: 900 18px/42% Roboto Flex, sans-serif;
    width: 100%;
  }

  .manage-table th, td{
    padding: 10px;
    border-bottom: 2px solid #e6a4b4;
    text-align: left;
  }

  .manage-table tr{
    font: 900 24px/42% Roboto Flex, sans-serif;
    padding: 10px;
    background-color: #fff8e3;
  }

  .manage-table td{
    font: 400 24px/42% Roboto Flex, sans-serif;
  }

  .manage-table th{
    background-color: #e6a4b4;
    color: #fff8e3;  
}

  .manage-button-container{
    display: flex;
    flex-direction: row;
    width: 20%;
    align-self: flex-start;
    justify-self: flex-start;
    justify-content: space-between;
    margin-left: 4%;
  }


  .manage-table tr:nth-child(even) {background-color: #FFECD4;}

  .manage-table .action-td{
    display: flex;
    flex-direction: row;
    justify-content: space-around
  }

  .manage-table{
    border: 2px solid;
    border-collapse: collapse;
  }

  .add-new-button {
    display: flex;
    border-radius: 20px;
    background-blend-mode: soft-light;
    background-color: #e6a4b4;
    border: 0px solid rgba(0, 0, 0, 1);
    width: auto;
    color: #fff8e3;
    justify-content: center;
    padding: 11px 10px;
    font: 900 18px Roboto Flex, sans-serif;
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-decoration: none;
    min-width: 40%;
  }

  .add-new-button:hover{
    transform: scale(1.05);
  }

  .manage-action-button {
    display: flex;
    border-radius: 20px;
    background-blend-mode: soft-light;
    background-color: #e6a4b4;
    border: 0px solid rgba(0, 0, 0, 1);
    width: auto;
    color: #fff8e3;
    justify-content: center;
    padding: 5px 13px;
    font: 900 18px Roboto Flex, sans-serif;
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-decoration: none;
    margin-bottom: 5px;
  }

  .manage-action-button:hover{
    transform: scale(1.05);
  }