
.order-form {
  border-radius: 30px;
  border: 0px solid rgba(0, 0, 0, 1);
  background-color: #FFECD4;
  align-self: center;
  display: flex;
  margin-top: 80px;
  width: 40%;
  max-width: 100%;
  flex-direction: column;
  padding: 34px 45px;
}


.order-form .order-form-title {
  color: #e6a4b4;
  align-self: center;
  margin-bottom: 20px;
  margin-top: 0;
  font: 900 34px Roboto Flex, sans-serif;
}


.order-form .name-fields {
  display: flex;
  gap: 20px;
  color: #e6a4b4;
  justify-content: flex-start;
  gap: 47%;
}


.order-form .first-name-label {
  align-self: end;

  font: 600 16px Roboto Flex, sans-serif;
}


.order-form .last-name-title {
  font: 900 64px/42% Roboto Flex, sans-serif;
}


.order-form .last-name-label {
  align-self: center;
  margin: 22px 0 0 63px;
  font: 600 16px Roboto Flex, sans-serif;
}

.order-form .name-inputs {
  display: flex;
  margin-top: 14px;
  gap: 20px;
  font-size: 16px;
  color: #e6a4b4;
  font-weight: 400;
}


.order-form .first-name-input,
.last-name-input {
  font-family: Roboto Flex, sans-serif;
  border-radius: 13px;
  background-blend-mode: normal;
  background-color: rgba(255, 248, 227, 1);
  align-items: start;
  justify-content: center;
  flex-grow: 1;
  width: fit-content;
  font-size: 16px;
  padding: 10px  21px;
  color:#e6a4b4;
}


.order-form .email-label {
  color: #e6a4b4;
  margin-top: 30px;
  font: 600 16px Roboto Flex, sans-serif;
}


.order-form .email-input {
  border-radius: 13px;
  margin-left: 0;
  background-blend-mode: normal;
  background-color: rgba(255, 248, 227, 1);
  margin-top: 9px;
  width: 426px;
  max-width: 100%;
  align-items: start;
  color: #e6a4b4;
  justify-content: center;
  padding: 10px  21px;
  font: 400 16px Roboto Flex, sans-serif;
}


.order-form .phone-label {
  color: #e6a4b4;
  margin-top: 30px;
  font: 600 16px Roboto Flex, sans-serif;
}


.order-form .phone-input {
  border-radius: 13px;
  background-blend-mode: normal;
  background-color: rgba(255, 248, 227, 1);
  margin-top: 16px;
  width: 426px;
  max-width: 100%;
  align-items: start;
  color: #e6a4b4;
  justify-content: center;
  padding: 10px  21px;
  font: 400 16px Roboto Flex, sans-serif;
}


.order-form .address-label {
  color: #e6a4b4;
  margin-top: 26px;
  font: 600 16px Roboto Flex, sans-serif;
}


.order-form .address-input {
  border-radius: 13px;
  background-blend-mode: normal;
  background-color: rgba(255, 248, 227, 1);
  margin-top: 16px;
  align-items: start;
  color: #e6a4b4;
  justify-content: center;
  padding: 10px  21px;
  font: 400 16px Roboto Flex, sans-serif;
}


.order-form .delivery-info {
  color: #e6a4b4;
  margin-top: 13px;
  font: 600 16px Roboto Flex, sans-serif;
  
}


.order-form .order-summary {
  display: flex;
  margin-top: 20px;
  width: 100%;
  gap: 20px;
  font-weight: 900;
}


.order-form .total-container {
  display: flex;
  gap: 20px;
  font-size: 34px;
  color: #e6a4b4;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
}


.order-form .total-label,
.total-amount {
  font-family: Roboto Flex, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
}


.order-form .order-button {
  border-radius: 30px;
  background-blend-mode: soft-light;
  background-color: #e6a4b4;
  border: 0px solid rgba(0, 0, 0, 1);
  white-space: nowrap;
  margin: 14px 0 0 26px;
  padding: 10px 15px;
  font: 900 24px Roboto Flex, sans-serif;
  width: 30%;
  color: #fff8e3;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.order-form .order-button:hover{
  transform: scale(1.05);
}

